# Chances are you will NOT need to set these variables if you are deploying a production build of Unified Help!
# You will define these variables in the Unified Help repo: https://github.com/normalperson543/unified-help
# The Unified Help Scraper bot will automatically share env vars with Unified Help.
# If you need to independently run Unified Help, then you can fill out these environment variables instead.

DATABASE_URL="" # needs to be a Postgres URL
SLACK_APP_TOKEN="" # get this from https://api.slack.com/apps
SLACK_BOT_TOKEN=""
SENTRY_URL=""