DATABASE_URL="" # needs to be a Postgres URL
SLACK_APP_TOKEN="" # get this from https://api.slack.com/apps
SLACK_BOT_TOKEN=""
SLACK_SIGNING_SECRET=""
SENTRY_URL=""
SCRAPER_API_KEY="" # this key will be shared between your scraper and Unified Help, generate with "openssl rand -hex 32"
BOT_USER_ID="" # Get the bot's user ID (begins with U [not B or A])